/* Style untuk Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Memastikan body mengambil tinggi penuh layar */
    background-color: #f4f4f4; /* Warna latar belakang */
    overflow: hidden; /* Menghilangkan scrollbar */
}

.box-formulir {
    background: #53e6f4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Lebar maksimum form */
    width: 100%; /* Menyesuaikan lebar */
}

.box-formulir h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}